@import '~antd/dist/antd.css';
.container {
  min-height: 100vh;
}

.sider {
  width: 200px;
  min-height: 100%;
  background: #001529;
}

.application-wrappers {
  opacity: 0;
  transition: opacity 1s ease-out;
}
.application-wrappers.application-mounting {
  opacity: 1;
}